@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #d3cce3;
  background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3);
  background: linear-gradient(to right, #e9e4f0, #d3cce3);
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.mobile-container {
  background-color: white;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;
  width: 400px;
}

header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header input {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

header button {
  background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 1.5rem;
  margin-left: 10px;
}

.fav-container {
  background-color: rgb(233, 199, 255);
  padding: 0.2rem 1rem;
  text-align: center;
}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  position: relative;
  margin: 5px;
  max-width: 75px;
  cursor: pointer;
  /* background-color: white; */
}

.fav-meals li .clear {
  background-color: transparent;
  position: absolute;
  top: -0.3rem;
  right: -0.35rem;
  border: none;
  opacity: 0;
  cursor: pointer;
  font-size: 1.2rem;
}

.fav-meals li .clear:hover {
  opacity: 1;
}
.fav-meals li img {
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #3333331a;
  object-fit: cover;
  width: 70px;
  height: 70px;
}

.fav-meals li span {
  display: inline-block;
  font-size: 0.9rem;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}

/* .fav-meals li span:hover {
  white-space: normal;
  overflow: auto;
} */

.meal {
  margin: 1.5rem;
  /* box-shadow: 0 0 10px 2px #3333331a; */
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  background-color: white;
  top: 1rem;
  padding: 0.25rem 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  object-fit: cover;
  height: 240px;
  width: 100%;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  background-color: transparent;
  border: none;
  color: rgb(247, 217, 217);
  font-size: 1.2rem;
}

/* .meal-body .fav-btn:hover {
  color: rgb(121, 44, 198);
} */

.meal-body .fav-btn.active {
  color: rgb(121, 44, 198);
}

.popup-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: white;
  position: relative;
  max-width: 800px;
  width: 100%;
  border-radius: 5px;
  max-height: 100vh;
  overflow: auto;
  padding: 1.5rem;
  /* height: vh; */
}

.popup h1 {
  text-align: center;
}

.popup p {
  text-align: justify;
}
.popup img {
  width: 100%;
}

.popup .close-popup {
  background-color: white;
  position: absolute;
  top: 1.4rem;
  right: 1.5rem;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
}
